div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <p>テスト</p>
      <div class="row">
          <p>テスト２</p>
        <div class="col-md-6 col-md-offset-3">
            <p>テスト３</p>
            <div class="center">
              <p>テスト４</p>
              <p><%= @user.id %></p>
              <p><%= @attendance.worked_on %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>